@{
    ViewBag.Title = "About";
}

<div class="main-intro">
    <img id="main-image" src="~/images/workout.jpg" alt="Image of women working out">
    <h1 class="main-header">About Log It</h1>
</div>

<div>
    <div>
        <h2><i class="fa fa-question-circle" aria-hidden="true"></i>What is Log It?</h2>
        <p>
            Log It is designed to help you keep track of your clients, like a digital paper workout journal.
            With a minimalistic approach and a clean, easy-to-use interface, Log It allows you to stay concentrated on the things that really matter. Give it a try. We know you'll love it!
        </p>
    </div>
    <div>
        <h2><i class="fa fa-thumbs-up" aria-hidden="true"></i>Why people love it</h2>
        <p>
            We've put together a great combination of simplicity and usability.
            Other workout apps take a simple thing and over complicate it. We believe that a workout log should do just what it says: log your client's workouts. We keep Simple Workout Log simple by avoiding all the unnecessary extras. A workout log should be quick and easy to use in the gym without getting in your way, or slowing you down.
        </p>
    </div>
</div>